Source: ros-hydro-enu
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-swiftnav
Homepage: http://ros.org/wiki/enu
Standards-Version: 3.9.2

Package: ros-hydro-enu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-swiftnav (>= 0.8.0)
Description: enu
